@{
    ViewData["Title"] = "Home";
}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="~/css/site.css"/>
    <script src="~/js/site.js" defer></script>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Russo+One&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1>AlpineMode<i class='bx bx-landscape'></i></h1>
        <nav>
            <a asp-controller="Home" asp-action="Index">Home</a>
            <div class="dropdown">
                <a class="dropdown-toggle" asp-controller="Request" asp-action="Index"><i class='bx bx-chevron-down'></i>Request</a>
                <div class="dropdown-menu">
                    <a asp-controller="MakeRequest" asp-action="Index">Make</a>
                    <a asp-controller="EditRequest" asp-action="Index">Edit</a>
                </div>

            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" asp-controller="Management" asp-action="Index"><i class='bx bx-chevron-down'></i>Management</a>
                <div class="dropdown-menu">
                    <a asp-controller="Add" asp-action="Index">Add</a>
                    <a asp-controller="Edit" asp-action="Index">Edit</a>
                </div>
            </div>
            <div class="dropdown">
                <a class="dropdown-toggle" asp-controller="Reporting" asp-action="Index"><i class='bx bx-chevron-down'></i>Reporting</a>
                <div class="dropdown-menu">
                    <a asp-controller="MakeReport" asp-action="Index">Make</a>
                    <a asp-controller="LookReport" asp-action="Index">Look</a>
                </div>
            </div>
            <a asp-controller="History" asp-action="Index">History</a>
        </nav>

        <div class="acc">
            <a asp-controller="Acc" asp-action="Index">Account</a>
            <i class='bx bx-ghost'></i>
        </div>
    </header>


</body>