@{
    ViewData["Title"] = "Management";
    Layout = "~/Views/Shared/SideBar.cshtml";
}
@section Styles {
    <link rel="stylesheet" href="~/css/manage.css" />
}
<h1>@ViewData["Title"]</h1>

<body>
    <header>

    </header>

</body>